*{
  margin: 0;
  padding:0;
  box-sizing:border-box;

}
html,body{
  background-color: black;
height: 100%;
width: 100%;
color: #fff;
}
.cards-box{
  background-color: #333;
  width: 300px;
  border: 1px solid #fff;
  padding:20px;
  margin:10px;
  text-align: center;
}
.parent{
padding: 10px;
margin: 10px;
display: flex;
flex-wrap: wrap;
}
.cards-box p{
  padding: 0 10px;
  margin: 20px 0;
}
.cards-box h4{
  /* padding: 10px; */
  margin-top:10px ;
}
.cards-box button{
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  color: black;
  
}
.cards-box img{
  width: 100px;
  height: 100px;
  object-fit:cover;
  border-radius: 50%;
}
