* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #242424;
}

.cards {
  background-color: #5f9ea0;
  padding: 20px;
  width: 100px;
  height: 200px;
  color: #fff;
  margin: 20px;
  display:flex;
  align-items:center;
  justify-content:center;

}
.cardBox{
  display:flex;
  flex-direction: row;
}

.navbar{
  background-color: darkgreen;
  color: #fff;
}